body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffae00;
}
p{
    color: dimgray;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.span{
    color:#DE3163 ;
    
}
.fixl{
    display: flex;
    margin-bottom: 100px;
    background-color:#08d3f7;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.whit{
    width: 800%;
    padding: 2%;
    background-color:#08d3f7;
}
.whit img{
    width: 100%;
    
    
}
.batton{
    text-decoration: none; 
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    size: 400px;
}
 .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
    
 }
 .dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

 }
 .exprinces-item{
    box-shadow: 20px 20px 30px grey;
    margin: 5%;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    
 }
 #boder{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 153, 255));
    border-image-slice: 1;
 }
 #first-boder{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(119, 0, 255),rgb(212, 47, 199));
    border-image-slice: 1;
 }
 footer p{
     text-align: center;
     text-decoration: none;
 }

 
 